.oculto{
    display: none !important;
}

.error{
    border-color: red;
}

#error-salarial{
    font-size: 18px;
    border-color: rgb(252, 103, 103);
    border: 3px;
}   

#contenedor-error{
    margin: 10px;
}
